<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Magic Binder</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <link rel="icon"
      type="image/png"
      href="https://static.wixstatic.com/media/6d5f83_1c4b31e3f57a46f793150aa5b348a54d.png/v1/fill/w_339,h_339,al_c,usm_0.66_1.00_0.01/6d5f83_1c4b31e3f57a46f793150aa5b348a54d.png">
  <body>
    <header>
  <h4> <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Magicthegathering-logo.svg/1280px-Magicthegathering-logo.svg.png" alt="Magic The Gathering Logo"></h2>
    <div>
      <form action="/login" method="post">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
        <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>
    </div>
    </header>
    <section class="video-bg">
      <video id="magicVid" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="" type="video/mp4">
      </video>
      <section class="overlay-content">
        <h1>Welcome to Magic Binder!</h1>
        <p>Here you can digitally store all the magic cards you own. You can search them up by color, creature, rare, ect... You can also add a don't want tag on cards you own, that will make it easier for you to know what cards you might want to sell. Also you are able to add a tag of want to cards you wish to get for yourself. With Magic Binder, you can always have your Magic the Gathering cards with you!</p>
        <a href="/signup"><span>CREATE AN ACCOUNT AND ALWAYS HAVE YOUR CARDS WITH YOU!</span></a>
      </section>
    </section>
    <footer>
        <img class="card" src="" alt="">
        <img class="card" src="" alt="">
        <img class="card" src="" alt="">
        <img class="card" src="" alt="">
    </footer>
    <script src="main.js" type="text/javascript"></script>
  </body>
</html>
