<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <title>Magic Binder</title>
  <link rel="stylesheet" href="styleLogIn.css">
</head>
<link rel="icon"
    type="image/png"
    href="https://static.wixstatic.com/media/6d5f83_1c4b31e3f57a46f793150aa5b348a54d.png/v1/fill/w_339,h_339,al_c,usm_0.66_1.00_0.01/6d5f83_1c4b31e3f57a46f793150aa5b348a54d.png">
<body>
  <section>
    <div>
      <h1>Signup</h1>
        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
          <div class="emailStyle">
            <label>Email</label>
            <input type="email" name="email">
          </div>
          <div class="passwordStyle">
            <label>Password</label>
            <input type="password"name="password">
            <button type="submit">Create Account</button>
          </div>
        </form>
        <div>
          <p>Already have an account? <a href="/">Login</a></p>
        </div>
      </div>
    </section>
  </body>
</html>
